$text-primary: rgb(234, 212, 243);

$button-primary-text: rgb(75, 61, 69);

$text-dim: rgba(228, 227, 228, 0.8588235294);

$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
