@import "src/styles/index.custom";

.currentCollection {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  .currentCollection_generalTitle,
  .currentCollection_title {
    color: $text-primary;
    text-align: center;
  }

  .currentCollection_title {
    padding-bottom: 5px;
  }

  .currentCollection_image {
    max-width: 500px;
    height: auto;
    border: 2px solid $text-primary;
    object-fit: cover;
    border-radius: 20px;

    @include md {
      max-width: 100%;
    }
  }

  .currentCollection_description {
    padding: 1rem;
    color: $text-primary;
  }

  @include md {
    flex-direction: column;
  }

  .currentCollectionInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
